Source Code/ws-desk2/src/META-INF/wsdl/192.168.1.1_8080/ws-server/ImageTransferServicem.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://image.jhlabs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://image.jhlabs.com/" name="ImageTransferServicemService">
<types>
<xsd:schema>
<xsd:import namespace="http://image.jhlabs.com/" schemaLocation="http://192.168.1.1:8080/ws-server/ImageTransferServicem?xsd=1" />
</xsd:schema>
</types>
<message name="RasterImageTransfer">
<part name="parameters" element="tns:RasterImageTransfer" />
</message>
<message name="RasterImageTransferResponse">
<part name="parameters" element="tns:RasterImageTransferResponse" />
</message>
<message name="VectorImageTransfer">
<part name="parameters" element="tns:VectorImageTransfer" />
</message>
<message name="VectorImageTransferResponse">
<part name="parameters" element="tns:VectorImageTransferResponse" />
</message>
<message name="VektorIslemler">
<part name="parameters" element="tns:VektorIslemler" />
</message>
<message name="VektorIslemlerResponse">
<part name="parameters" element="tns:VektorIslemlerResponse" />
</message>
<message name="thresholdMethod">
<part name="parameters" element="tns:thresholdMethod" />
</message>
<message name="thresholdMethodResponse">
<part name="parameters" element="tns:thresholdMethodResponse" />
</message>
<message name="VectorIcınWH">
<part name="parameters" element="tns:VectorIcınWH" />
</message>
<message name="VectorIcınWHResponse">
<part name="parameters" element="tns:VectorIcınWHResponse" />
</message>
<portType name="ImageTransferServicem">
<operation name="RasterImageTransfer">
<input wsam:Action="http://image.jhlabs.com/ImageTransferServicem/RasterImageTransferRequest" message="tns:RasterImageTransfer" />
<output wsam:Action="http://image.jhlabs.com/ImageTransferServicem/RasterImageTransferResponse" message="tns:RasterImageTransferResponse" />
</operation>
<operation name="VectorImageTransfer">
<input wsam:Action="http://image.jhlabs.com/ImageTransferServicem/VectorImageTransferRequest" message="tns:VectorImageTransfer" />
<output wsam:Action="http://image.jhlabs.com/ImageTransferServicem/VectorImageTransferResponse" message="tns:VectorImageTransferResponse" />
</operation>
<operation name="VektorIslemler">
<input wsam:Action="http://image.jhlabs.com/ImageTransferServicem/VektorIslemlerRequest" message="tns:VektorIslemler" />
<output wsam:Action="http://image.jhlabs.com/ImageTransferServicem/VektorIslemlerResponse" message="tns:VektorIslemlerResponse" />
</operation>
<operation name="thresholdMethod">
<input wsam:Action="http://image.jhlabs.com/ImageTransferServicem/thresholdMethodRequest" message="tns:thresholdMethod" />
<output wsam:Action="http://image.jhlabs.com/ImageTransferServicem/thresholdMethodResponse" message="tns:thresholdMethodResponse" />
</operation>
<operation name="VectorIcınWH">
<input wsam:Action="http://image.jhlabs.com/ImageTransferServicem/VectorIcınWHRequest" message="tns:VectorIcınWH" />
<output wsam:Action="http://image.jhlabs.com/ImageTransferServicem/VectorIcınWHResponse" message="tns:VectorIcınWHResponse" />
</operation>
</portType>
<binding name="ImageTransferServicemPortBinding" type="tns:ImageTransferServicem">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="RasterImageTransfer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="VectorImageTransfer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="VektorIslemler">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="thresholdMethod">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="VectorIcınWH">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ImageTransferServicemService">
<port name="ImageTransferServicemPort" binding="tns:ImageTransferServicemPortBinding">
<soap:address location="http://192.168.1.1:8080/ws-server/ImageTransferServicem" />
</port>
</service>
</definitions>